/* Contents */
.header-main {
    background-color: #CC54BE;
}

.icons-menu-tasks {
    color: #D165C4;
    font-weight: bold;
}

.add-task2{
    display: none;
}
.add-task3{
    display: inline;
}

.list-item-tasks {
    display: flex;
    align-items: center;
    gap: 0.5em;

} /* Ainda em ajustes*/

.form-check-input:checked{
    background-color: #55224f;
    border-color: #55224f;
}

/* Images */
.img-logo {
    max-width: 30px;
}

/* Default Elements */
.btn-default {
    background-color: #D165C4;
    border: 0px;
    transition: 0.25s;
    padding: 0.2em 1em;
    color: white;
}

.btn-default:hover {
    background-color: #D597CD;
    color: rgb(255, 255, 255);
}
/*fundo da task*/
.fundo-task, .minhas-tarefas{
    background-color: rgba(213, 151, 205, 0.2);
    
}
.fundo-task:hover, .minhas-tarefas:hover{
    background-color: #d597cd73;
}


input[type]:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}





/* Resizable Elements */
@media screen and (max-width: 768px) {
    .img-logo {
        max-width: 50px;
    }
}