/* Contents */
.header-main {
    background-color: #CC54BE;
}

.icons-menu-tasks {
    color: #D165C4;
    font-weight: bold;
}

.add-task2 {
    display: none;
}

.add-task3 {
    display: inline;
}

.form-background {
    background-color: #D597CD
}

.rounded-login {
    border-radius: 1em;
}

.list-item-tasks {
    display: flex;
    align-items: center;
    gap: 0.5em;

}

/* Ainda em ajustes*/

.form-check-input:checked {
    background-color: #55224f;
    border-color: #55224f;
}

/* Images */
.img-logo {
    max-width: 30px;
}

/* Default Elements */
.btn-default {
    background-color: #D165C4 !important;
    border: 0px;
    transition: 0.25s;
    padding: 0.15em 2.5em;
    color: white !important;
}

.btn-default:hover {
    background-color: #CC54BE !important;
    color: white !important;
}

#input-search-task {
    border-radius: 0.6em 0 0 0.6em;
}

#input-search-task+button {
    border-radius: 0 0.6em 0.6em 0;
}

#input-search-task+button:hover {
    background-color: rgba(213, 151, 205, 0.2);
    color: #55224f;
}

/* Modals */
.modal-body-default {
    background-color: #CC54BE;
}

.modal-header-default {
    background-color: #D597CD;
}

/*fundo da task*/
.input-default {
    background-color: rgba(213, 151, 205, 0.2);
}

.input-default:focus {
    background-color: rgba(213, 151, 205, 0.2);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.input-custom,
.input-custom:focus {
    background-color: transparent;
    border-color: white;
    color: white;
    box-shadow: none;
}

.input-custom>option {
    color: black;
}

.input-custom.bd,
.input-custom.bd:focus {
    border-radius: 0;
    border: 0;
    border-bottom: white solid 1px;
}

.input-custom::placeholder {
    color: white;
}

.fundo-task,
.minhas-tarefas {
    background-color: rgba(213, 151, 205, 0.2);

}

.fundo-task:hover,
.minhas-tarefas:hover {
    background-color: #d597cd73;
}

#conteudo-Tarefa {
    background-color: #CC54BE;
}

#cancelar-button {
    background-color: rgba(213, 151, 205, 0.2);
}

#adicionar-button {
    background-color: #55224f;
}

/* Resizable Elements */
@media screen and (max-width: 768px) {
    .img-logo {
        max-width: 50px;
    }
}

.input-custom:focus {
    border-bottom: white solid 1px;
}