<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div>
    <h1>Login</h1>
    <!--Arrumar o processa.php-->
    <form action="processa.php">
        Login: <br/>
        <input type="text" name="login"><br/>
        Senha: <br/>
        <input type="password" name="senha"><br />
        <input type="submit" value="Login">
    </form>
    </div>
    <div>Não possui conta? <a href="criarConta.html">Criar conta</a></div>
    <div>
        <img src="logo.png">
        <h1>Paper</h1>
        <h2>Bem-Vindo de volta!</h2>
        <p>Realize o login para</p>
        <p>conectar-se a sua conta Paper.</p>
    </div>
</body>
</html>